button {
  padding: 13px 40px;
  font-size: 1.5em;
  background: linear-gradient(180deg, #fa7e29 0%, #f6682f 80%, #f6682f 100%);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background: linear-gradient(180deg, #e08140 0%, #da531c 80%, #e40505 185%);
}
nav {
  display: flex;
  background: #f9f9f9;
  height: 56px;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 82px;
  box-shadow: -5px 13px 24px -15px rgba(0, 0, 0, 0.15);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;
  color: #6d6d6d;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group button {
  margin: 10px;
}

.holding {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 300px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background-color: #21d4fd;
}

.holding .holding-price {
  font-size: 5em;
  color: white;
  margin: auto;
}

.holding-info {
  font-weight: 100;
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
}

.holding-info span {
  width: 100%;
  text-align: center;
  background: azure;
}

.holding-info span:nth-child(2) {
  background: #6077b3;
  color: white;
}

.holdings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 5px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #7880b9;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio h2 {
  padding: 4px 20px;
  /* width: 150px; */
  border: 1px solid #7980b9;
}

.portfolios {
  margin-top: 50px;
}
.returns {
  display: flex;
  justify-content: center;
}

.addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addForm input {
  width: 190px;
  border: 1px solid #f06f38;
  height: 27px;
  padding: 6px 17px;
  border-radius: 30px;
  font-size: 1.3em;
  margin: 20px;
  outline: none;
}

.addForm input:last-child {
  height: 40px;
  width: 107px;
  background: #f06f38;
  color: white;
  font-weight: 600;
}

.addForm select {
  width: 141px;
  border: 1px solid #f06f38;
  height: 27px;
  padding: 6px 17px;
  border-radius: 100px;
  font-size: 1em;
  margin: 20px;
  background: white;
}

.links a {
  margin: 0px 13px;
  text-decoration: none;
  color: #6d6d6d;
  font-weight: 100;
}

.links a:last-child {
  margin-left: 0px;
}
